h5.head {
    color: red;
    margin-top: 12px;
    margin-left: 10px;
}
.list {
    color: #5f5f5f;
    margin-top: 12px;
    margin-left: 91px;
}
.text {
    color: #5f5f5f;
    margin-top: 12px;
    margin-left: 10px;
}
.photo {
    margin-top: 12px;
    margin-left: 79px;
}